.text-format{
    vertical-align: middle;
}

.center-format{
    text-align: center;
    vertical-align: middle;
}

.text-right{
    text-align: right;
    vertical-align: middle;
}

table thead tr{
    background-color: black;
    color: white;
}

table thead tr th {
    vertical-align: middle;
}

table tbody tr td {
    vertical-align: middle;
}